body {
    background: #e3e3e3;
}

/* slide menu */

/* menu links */
.slide-menu a {
    color: #fff;
    text-decoration: none;
    -webkit-transition:all 1s ease-in; 
    transition:all 1s ease-in;
}

.slide-menu a:hover,
.slide-menu a:focus {
    border-bottom: 1.2px solid #fff;
}

.slide-menu li {
    max-width: 20px;
    padding-top: 5px;
}

.slide-menu ul {
    list-style: none;
    padding: 0 0 0 40px;
}

/* end menu links */

.slide-menu {
    position: fixed;
    width: 250px;
    top: 0px;
    bottom: 0px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.6s;
}

.slide-menu-open {
    transform: translate3d(0, 0, 0);
}

.slide-menu-inner {
    width: calc(100% + 15px);
    padding: 0 100px 2em 0;
    overflow-y: auto;
    height: 100%;
    position: relative;
    z-index: 100;
}

.slide-menu-handle {
    background: transparent;
    border: none;
    width: 40px;
    height: 40px;
    outline: none;
    position: absolute;
    top: 10px;
    right: 40px;
    z-index: 1000;
}

.slide-menu-handle::before,
.slide-menu-handle::after,
.slide-menu-handle span {
    background: #fff;
}

.slide-menu-handle::before,
.slide-menu-handle::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    transform-origin: 50% 50%;
    transition: transform 0.25s;
}

.slide-menu-handle span {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    overflow: hidden;
    text-indent: 200%;
    transition: opacity 0.25s;
}

.slide-menu-handle::before {
    transform: translate3d(0, -10px, 0);
}

.slide-menu-handle::after {
    transform: translate3d(0, 10px, 0);
}

.slide-menu-open .slide-menu-handle span {
    opacity: 0;
}

.slide-menu-open .slide-menu-handle::before {
    transform: rotate3d(0, 0, 1, 45deg);
}

.slide-menu-open .slide-menu-handle::after {
    transform: rotate3d(0, 0, 1, -45deg);
}

.morph-shape {
    position: absolute;
    width: 200px;
    height: 100%;
    top: 0;
    right: 0px;
}

.morph-shape svg path {
    stroke: #fff;
    stroke-width: 2px;
}
.slide-menu-open .morph-shape svg path {
    stroke: #fff;
    stroke-width: 4px;
}